<app-home></app-home>
<body>
    
        <div id="main">
                <div class="row">
                       
                    <!-- Search for small screen-->
                    <div class="container">
                            <nav class="gradient-45deg-purple-deep-orange gradient-shadow">
                                    <div class="nav-wrapper">
                                    
                                      <ul id="nav-mobile" class="left hide-on-med-and-down">
                                        <li  *ngFor="let t of types"><a href="#">{{t._id}}</a> </li>
                                      
                                      </ul>
                                    </div>
                                  </nav>
                      <div class="row">
                  
  <ul class="collection" >

    <li class="collection-item avatar"  *ngFor="let facility of facilitys"  >
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">{{facility.name}}</span>

      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
   
  </ul>
  </div>
  </div>
  </div>
  </div>
 
</body>
<app-footer></app-footer>