<app-home></app-home>
<body>
            <div id="main">
                        <div class="row">
<div class="card">
    <div class="card-content">
          <h4 class="card-title">Gradient Card & Gradient Card With Analytics</h4>
          <p>
                Here is the gradient card with flat image for all gradient classes please check
                <a href="css-color.html" target="_blank"> css-color.html</a>.
          </p>
          <div class="row">
                <div class="col s12 m3">
                      <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-3">
                            <div class="card-content center">
                                  <img src="assets/app-assets/images/icon/ch.jpg" alt="" class="width-40" />
                                  <h6 class="white-text lighten-4">Hotel Chains</h6>
                                
                            </div>
                      </div>
                </div>
                <div class="col s12 m3">
                      <div class="card gradient-shadow gradient-45deg-red-pink border-radius-3">
                            <div class="card-content center">
                                  <img src="assets/app-assets/images/icon/services.png" alt="" class="width-40" />
                                  <h6 class="white-text lighten-4"> Services</h6>
                                 
                            </div>
                      </div>
                </div>
                <div class="col s12 m3">
                      <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-3">
                            <div class="card-content center">
                                  <img src="assets/app-assets/images/icon/fac.jpg" alt="" class="width-40" />
                                  <h6 class="white-text lighten-4">  Facilities</h6>
                                
                            </div>
                      </div>
                </div>
                <div class="col s12 m3">
                      <div class="card gradient-shadow gradient-45deg-green-teal border-radius-3">
                            <div class="card-content center">
                                  <img src="assets/app-assets/images/icon/currencies.jpg" alt="" class="width-40" />
                                  <h6 class="white-text lighten-4"> Currencies  
                                        
                              </h6>
                                 
                            </div>
                      </div>
                </div>
            
          </div>
          
    </div>
</div>
</div>
</div>
<app-footer></app-footer>

</body>