<app-home></app-home>
<body>
    
        <div id="main">
                <div class="row">
                       
                    <!-- Search for small screen-->
                    <div class="container">
                            <nav class="gradient-45deg-purple-deep-orange gradient-shadow">
                                    <div class="nav-wrapper">
                                    
                                      <ul id="nav-mobile" class="left hide-on-med-and-down">
                                        <li><a href="#"></a> </li>

                                      </ul>
                                    </div>
                                  </nav>

                                  <a _ngcontent-qtw-c1="" class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange" ><i _ngcontent-qtw-c1="" class="material-icons left">add_circle</i>Add categorie</a>
                      <div class="row">
                  
  <ul class="collection" >
    <li class="collection-item avatar" >
      <i class="material-icons circle green"></i>
      <span class="title">{{Services.name}}</span>

      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
   
  </ul>
  </div>
  </div>
  </div>
  </div>
 
</body>
<app-footer></app-footer>