
<app-home></app-home>
<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
      <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
      <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
          <div class="row">
            <div class="col s10 m6 l6">
              <h5 class="breadcrumbs-title mt-0 mb-0">Contacts</h5>
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>

                <li class="breadcrumb-item active">Conditions
                </li>
              </ol>
            </div>
            <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
              <ul class="dropdown-content" id="dropdown1" tabindex="0">
                <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
                <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a></li>
                <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                <li class="divider" tabindex="-1"></li>
                <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">
  <div class="card">
  <div class="card-content">
    <p class="caption mb-0">Tables are a nice way to organize a lot of data. We provide a few utility classes to help
      you style your table as easily as possible. In addition, to improve mobile experience, all tables on
      mobile-screen widths are centered automatically.</p>
  </div>
  </div>
  <a class="mb-6 btn waves-effect waves-light gradient-45deg-purple-deep-orange modal-trigger" href="#modal1">
      <i class="material-icons left">add_circle</i>Condition</a>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" *ngFor="let condition of conditions">
<mat-expansion-panel-header>
    <a class=" btn-floating waves-effect waves-light amber ">
        <i class="material-icons">mode_edit</i>
      </a>&nbsp;&nbsp;
    <a class=" btn-floating waves-effect waves-light red " (click)=" popUp(condition) ">
        <i class="material-icons">delete_forever</i>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-panel-title>
{{condition.title}}
</mat-panel-title>
<mat-panel-description>
{{condition.nbjour}}{{panelOpenState ? 'open' : 'closed'}}

</mat-panel-description>

</mat-expansion-panel-header>
<p>I'm visible because I am open</p>

</mat-expansion-panel>
  </mat-accordion>
